Package: seta
Section: Gnome Desktop Environment
Version: 0.6.1
Priority: optional
Architecture: i386
Essential: no
Depends: libgtk2.0-0,
         libgnome2-0,
         libvte9 (>= 0.26),
         libvte-common
Maintainer: Shunsuke Kirino [shunsuke.kirino@gmail.com]
Description: integrated file manager and terminal emulator
 Seta is a gnome application which aims to be a replacement for file
 manager and terminal emulator. Inspired by Dolphin and GNU Midnight
 Commander, it uses a two panel UI. Each panel can contain filer and
 terminal. The working directories for the two widgets are (basically)
 kept synchronized.
 
 Seta is written in the D language (http://www.digitalmars.com/d/)
 using the GtkD library (http://dsource.org/projects/gtkd/).
 
 Seta is licensed under the FSF General Public License.
